.diaries {
  margin: 1vh;
}

.diary {
  background-color: rgb(238, 238, 238);
  padding: 1vh;
  margin: 2vh;
}

.diary p {
  padding: 0;
  margin: 0;
}

.diaryForm {
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 10px;
}

input, select {
  width: 30vw;
  height: 5vh;
}

textarea {
  width: 30vw;
  height: 8vh;
}

.errorMessage {
  color: red;
  display: flex;
  flex-direction: column;
  align-items: center;
  background-color: rgb(231, 231, 231);
}